.flash-sale {
    display: flex;
    justify-content: center;
    align-items: center;

    #party-style{
        @include bpmd{
            display: none;
        }
    }

    #office-style{
        @include bpmd{
            display: none;
        }
    }

    .flash-sale-img {
        display: flex;
        justify-content: center;
        width: 400px;
        height: 317px;
        margin: 50px;
        
        img{
            cursor: pointer;
        @include bpmd{
            display: none;
        }
        }
    }

    #flash-sale-box {
        .box-bg {
            background-color: $color-light-3;

            @include bpmd {
                width: 100%;
            }

            .box-border {
                width: 460px;
                height: 295px;
                border: 10px solid $color-theme;
                margin: 10px;
                position: relative;

                @include bpmd {
                    width: 350px;
                    height: 295px;
                    margin: 10px;
                    border: 8px solid $color-theme;
                }

                .flash-content {
                    margin-top: 20px;
                    display: block;
                    text-align: center;

                    .title-2 {
                        margin-top: 50px;
                        @include font-title-2
                    }

                    .title-3 {
                        font-size: 12px;
                        margin-top: -20px;
                    }

                    #flash-btn {
                        position: absolute;
                        bottom: 10%;
                        right: 31%;
                        padding: 10px 20px;
                        text-align: center;
                        line-height: 3;
                        font-size: 0.8em;
                        width: 160px;
                        border: 1px solid $color-dark-2;

                        @include bpmd{
                            right: 23%;
                            padding: 5px 15px;
                            
                        }
                    }
                }
            }
        }
    }
}