.flash-sale {
    display: flex;
    justify-content: center;
    align-items: center;

    #party-style{
        @include bpmd{
            display: none;
        }
    }

    #office-style{
        @include bpmd{
            display: none;
        }
    }

    .flash-sale-img {
        display: flex;
        justify-content: center;
        width: 400px;
        height: 317px;
        margin: 50px;
        
        img{
            cursor: pointer;
        @include bpmd{
            display: none;
        }
        }
    }

    #flash-sale-box {
        width: 25%;
        @include bpmd{
            width: 100%;
            height: 100%;
        }
        .box-bg {
            background-color: $color-light-3;
            width: 100%;
            height: 317px;
            padding: 10px;
            @include bpmd {
                height: 80%;
                margin-bottom: 30px;
            }

            .box-border {
                width: 100%;
                height: 100%;
                border: 10px solid $color-theme;
                padding: 10px;
                position: relative;

                @include bpmd {
                    border: 8px solid $color-theme;
                }

                .flash-content {
                    text-align: center;

                    .title-2 {
                        margin-top: 40px;
                        @include font-title-2
                    }

                    .title-3 {
                        font-size: 12px;
                        margin-top: -10px;
                     
                        
                        @include bpmd{
                            font-size: 11px;
                        }
                    }

                    #flash-btn {
                        margin-top: 10px;
                        padding: 5px 20px;
                        text-align: center;
                        line-height: 3;
                        font-size: 0.8em;
                        width: 40%;
                        border: 1px solid $color-dark-2;

                        @include bpmd{
                            width: 50%;
                            margin-top: 20px;
                            
                        }
                    }
                }
            }
        }
    }
}