.contact-form {
    margin-top: 40px;

    h1 {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
    }
    form {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 30px;
        @include bpmd{
            display: block;
        }

       .error-holder{
        height: 15px;
        @include bpmd{
            max-height: 5%;
            margin-bottom: 20px;
        }
        .error {
            font-size: 0.9em;
            padding: 5px;
            color:#ff7373;
            display: none;
        }
       }
        
        input,
        textarea {
        width: 100%;
        padding: 18px 20px;
        border: 1px solid $color-dark-3;
        }

        textarea {
            height: 140px;
            resize: none;
        }

        button {
            grid-row: 3;
            grid-column: 1/2;
            @include bpmd{
                width: 100%;
            }
        }

        .contact-form-name {
            grid-row: 1;
            grid-column: 1/ 3;
        }
        .contact-form-email {
            grid-row: 1;
            grid-column: 3 / span 2;
        }
        .contact-form-comments {
            grid-row: 2;
            grid-column: 1 / span 4;
        }
    }
}
.footer-end {
    display: flex;
    justify-content: center;
    align-items: center;

    .line-end {
        border: 1px solid $color-dark-3;
        opacity: 0.40;
        width: 100%;

        @include bpmd{
            margin-top: 120px;
        }
    }
}

.social-media-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-light-4;

    .social-media-box {
        margin-top: 20px;
        .social-media-flex-icons {
            i {
                color: $color-dark-2;
            }

            .social-media-icons{
                margin: 10px;
            }
        }
    }
}

.copy-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-light-4;

    .copy-right-information{
        font-size: 12px;
        font-weight: $font-weight-regular;
        line-height: 30px;
        color: $color-dark-3;

    }
}