.products-grid-container {
  
  max-width: 3000px;
  height: 100%;

  .popular-products {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    position: relative;
  
    .popular-product-grid-box {
      position: absolute;
      top: 570px;
      left: 50%;
      max-width: 100%;
      height: 100px;
  
      #popular-products-box {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #BBBBBB;
        width: 759px;
        height: 557px;
  
        .popular-products-title {
          @include font-title-2;
          color: $color-light-1;
        }
  
        #btn-popular-products {
          position: absolute;
          bottom: 35%;
          padding: 10px 20px;
          text-align: center;
          line-height: 3;
          font-size: 0.8em;
          width: 160px;
        }
      }
  
    }
  
    .product-grid {
      position: absolute;
      #popular-products-grid {
        position: relative;
        top: 570px;
        right: 57%;
        display: grid;
        grid-template-areas:
          "product0 product1 product2"
          "product3 product4 product5";
        gap: 30px;
  
        #product-0 {
          grid-area: product0;
        }
  
        #product-1 {
          grid-area: product1;
  
          .product-card-title {
            font-size: 14.5px;
          }
        }
  
        #product-2 {
          grid-area: product2;
        }
  
        #product-3 {
          grid-area: product3;
        }
  
        #product-4 {
          grid-area: product4;
        }
  
        #product-5 {
          grid-area: product5;
        }
  
        .product-card {
          display: flex;
          flex-direction: column;
  
          .product-card-image-container {
  
            img {
              width: 200px;
              height: 145px;
              margin-bottom: 10px;
            }
          }
  
          .product-card-category {
            font-size: 13px;
            font-weight: 500;
            color: #616365;
          }
  
          .product-card-title {
            font-size: 16px;
            font-weight: 400;
            color: #23262A;
          }
  
          .product-card-rating {
            color: #ff7373;
            font-size: 15px;
          }
  
          .product-card-null-rating {
            color: #ff7373;
            margin-top: 3.5px;
            font-size: 15px;
  
            display: flex;
          }
  
          .product-card-price {
            font-size: 15px;
            font-weight: 400;
            margin-top: 9px;
            margin-bottom: 13px;
            color: #23262A;
          }
  
          .product-card-null-price {
            font-size: 15px;
            font-weight: 400;
            margin-top: 14px;
            margin-bottom: 13px;
            color: #23262A;
          }
        }
      }
    }
  }

}

